@import "vars";

.blog {
    margin-bottom: 85px;

    &__title {
        padding-top: 20px;
        font-family: $main-font;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        text-transform: capitalize;
        color: #DC0000;
        margin: 0;
    }

    &__autor {
        padding: 15px 0 14px 0;
        font-family: $main-font;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
        color: #333333;
        border-bottom: 2px solid #333333;
        margin: 0 0 15px 0;
    }

    &__descr {
        font-family: $main-font;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
        color: #9A9A9A;
        margin: 0 0 20px 0;
    }

    &__btn {
        font-family: $secondary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        color: #333333;
        margin: 4px 25px 4px 25px;
    }
}

